a {
  text-decoration: none;
  color: #1e1e1e;
}

a:hover {
  color: var(--violet-color);
}

.bg {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(255, 255, 255, 0.8) 100%
    ),
    url(../background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}

.header_container {
  height: 50px;
  padding-top: 24px;
}

.nav_container {
  margin: 0 auto;
  max-width: 952px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_container .title {
  width: 74px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  color: var(--violet-color);
}

.nav-menu {
  display: flex;
  gap: 40px;
  font-weight: bold;
}

.nav-menu li {
  cursor: pointer;
}

.nav-menu li:hover {
  color: var(--violet-color);
}

.icon-menu {
  gap: 20px;
  display: flex;
}

.icon-menu li {
  cursor: pointer;
}

.icon-menu li:hover {
  background: var(--violet-color50);
}

/* 메인 */
.main-container {
  max-width: 952px;
  margin: 0 auto;
  height: 500px;
  position: relative;
}

.main-container h2 {
  font-size: 50px;
  position: absolute;
  top: 40%;
  color: var(--violet-color);
  font-family: 'Montserrat';
  font-weight: 900;
}

.main-container p {
  width: 50%;
  position: absolute;
  top: 58%;
  color: var(--violet-color);
  margin-bottom: 50px;
}

.main-container .btns {
  position: absolute;
  bottom: 5%;
}

.btn {
  background: var(--violet-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  margin-right: 5px;
  margin-left: 5px;
}

.primary-btn {
  border: 2px solid var(--violet-color);
  background: transparent;
  color: var(--violet-color);
  transition: all 0.5s;
}

.primary-btn:hover {
  background: #645caa10;
}

.contents-container {
  max-width: 952px;
  height: 385px;
  background-color: var(--violet-color);
  margin: 0 auto;
  position: relative;
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 80px;
  border-radius: 10px;
}

.contents-container .line {
  width: 50px;
  height: 3px;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 52px;
}

.contents-container h3 {
  font-size: 2rem;
  color: #fff;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}
.contents-container p {
  color: #fff;
  text-align: center;
}
